#main {
  height:100%;
  overflow:auto;
    margin: 0;
    padding: 0;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}
.imagebackground img{
vertical-align: top 
repeat: no-repeat;
position: center; 
width:100%;
height: 50%;


}

.center{
	display:table;
	margin:0 auto;
}
.logo{
	padding-top:5em;
	padding-bottom:30em;
}
/* -------------CONTENT-------------*/

.content p{
    margin:0.5em auto;
   font-size: 18px;
    font-family: Bariol,Roboto;
    color:gray;
    
}
.content #intro{width:90%;font-size: 22px;padding:0;}
button.accordion {
    font-family:Calibri;
    display:table;
	margin:0 auto;
    background-color: #f9f9f9;
    color: #648ed1;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #648ed1;
    color:white;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}
div.panel {
    
	margin:0 auto;
    width: 90%;
    height:100em;
    background-color: #f9fbff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
.accimg{
    float:left;
    margin-right: 1em;
    width:320px;
    height:280px;
}
/* Sectiunea Creier*/
#creier{padding:1em 0;}
#creier h2{width:90%; margin:1em auto;}

.pmain{
    padding-left: 3.5em;
    margin-right:2em;
}